@font-face {
    font-family: 'Konstant Grotesk';
    src: url('../fonts/KonstantGrotesk.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lazurski';
    src: url('../fonts/Lazurski.ttf') format('ttf'),
    url(('../fonts/LazurskiCyrillic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  width: 100vw;
  font-family: 'Lazurski', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFAF6;
 /* background-color: #BEDCFE; blue*/
  color: #000;
  cursor: url(../images/circle.png), pointer;
  height: 3000px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-moz-selection{
    background-color: #000;
    color: #aaa;
}

::selection{
    background-color: #000;
    color: white;
}


main {
  width: 1024px;
  margin: 0 auto;
}

.section__intro p {
  font-size: 56px;
  line-height: 65px;
  margin: 50px auto;
  width: 1200px; 
  font-family: 'Konstant Grotesk', sans-serif;
  text-transform: italic;
}

.section__intro p::before {
  border: 2px solid black;
}

.section_span__intro {
  transition: all .1s ease;
  color: transparent;
  position: relative;
}

.section_span__intro:hover {
  color: #000;
}


.author__intro {
  font-size: 10px;
  line-height: 12px;
  position: absolute;
  right: 10%;
  top: 0;
}

.img__intro {
  transition: all 10s ease;
  width: 10%;
  padding: 10px;
}

.img__intro:hover {
  width: 50%;
  cursor: url(../images/cursor.png), cell;
}

.header__circles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 10px;
  left: 20px;
}

.circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 1px solid #000;
  transition: .3s all ease;
  color: transparent;
  text-align: center;
  line-height: 110px;
  font-size: 40px;
}

.circle:hover {
  border: transparent;
  color: #000;
}

.circle__1:hover {
  background-color: #EF8354;
}

.circle__2:hover {
  background-color: #BEDCFE;
}

.circle__3:hover {
  background-color: #FFDE5A;
}

.circle__4:hover {
  background-color: #fff;
}

.footer {
  position: fixed;
  font-size: 11px;
  right: 11px;
  bottom: 11px;
  color: #e9e9e9;
  cursor: pointer;
  transition: .6s all ease;
}

.footer:hover {
  color: #000;
  font-size: 99px;
}

.section__scheme {
  height: 100vh;
  padding-top: 35px;
  font-size: 16px;
  letter-spacing: .5px;
}

.section__scheme div {
  width: 270px;
  height: 80px;
  border: 1px solid #000;
  text-align: center;
  line-height: 80px;
  margin: 0 auto;
}

.scheme__arrow {
  display: block;
  margin: 0 auto;
}

.sсheme__circle {
  border-radius: 50%;
}

.scheme_parallelogram {
  -webkit-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg); 
  transform: skewX(-20deg);
}
.scheme_parallelogram_2 {
  margin-top: -40px;
  margin-left: 1px;
}  

.sсheme__rhombus {
  background-image: url(../images/rhombus_2.svg);
  background-size: cover;
}

.sсheme__rectangle {
  width: 250px;
  height: 80px;
}

section.scheme__two_answers {
  display: flex;
}

section.scheme__two_arrows {
  display: flex;
  margin-top: -40px;
}

.arrow_left_1 {
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1); 

}

.arrow_right_2 {
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1); 
}

.arrows__2 {
  margin-top: 140px;
}

.arrows__1 .scheme__arrow {
  padding-right: 100px;
}

.arrows__2 .scheme__arrow {
  margin-top: 40px;
  padding-left: 100px;
}


div.scheme__two_answers {
  width: 700px;
}

.section__index {
  margin: 300px 0;
  display: flex;
}

.paragraph__index {
  font-size: 13px;
  line-height: 14px;
}

.img__index {
  width: 20%;
  height: 20%
}